#weather-project-img {
  background-image: url("https://images.unsplash.com/photo-1581390114939-946f9a890a7f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG9sbHl3b29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
#workday-schedule {
  background-image: url("https://images.unsplash.com/photo-1523289333742-be1143f6b766?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGxhbm5lcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
#code-quiz {
  background-image: url("https://images.unsplash.com/photo-1527219525722-f9767a7f2884?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fG5vdGUlMjB0YWtlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
#password-generator {
  background-image: url("https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cmVjaXBlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
#budget-tracker {
  background-image: url("https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVkZ2V0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
#fitness-tracker {
  background-image: url("https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zml0bmVzc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  height: 300px;
}
